body {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
}

.weather-app {
  text-align: center;
  font-family: "Emilys Candy", cursive;
  max-width: 800px;
  border: 2px solid #6f83d2;
  margin: 0 auto;
  border-radius: 10px;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

h4 {
  font-size: 1rem;
}

.today {
  color: #6f83d2;
  font-size: 2rem;
}
h1 {
  padding-top: 30px;

  font-weight: bolder;
  font-size: 4rem;
}

h2 {
  font-size: 2.5em;

  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.metric {
  font-size: 1.5rem;
  position: relative;
  top: -20px;
}

p {
  padding: 20px;
  padding-top: 0;
  font-size: 1.5rem;
  color: #5969a8;
  margin: 0;
  text-transform: capitalize;
}
.col-2 {
  font-size: 1.5rem;
}

input {
  font-size: 2rem;
}

a {
  color: black;
}

.farenheit {
  color: #ff6584;
}

.footer {
  color: #ff6584;
}
.btn {
  font-size: 20px;
}

.fas {
  color: #e6e6e6;
}

button {
  border: 1px solid gray;
  font-size: 33px;
  padding: 1px 6px;

  border-radius: 4px;
}

.btn-info {
  background-color: #6f83d2;
}
